<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
<!--    <servlet>-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        <servlet-class>com.example.HelloServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        <url-pattern>/hello</url-pattern>-->
<!--    </servlet-mapping>-->


    <servlet>
        <servlet-name>welcomeServlet</servlet-name>
        <servlet-class>com.example.WelcomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>welcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>



    <!-- LoginServlet với init-param -->
<!--    <servlet>-->
<!--        <servlet-name>loginServlet</servlet-name>-->
<!--        <servlet-class>com.example.LoginServlet</servlet-class>-->
<!--        <init-param>-->
<!--            <param-name>welcomeMessage</param-name>-->
<!--            <param-value>Chào mừng bạn đến với hệ thống!</param-value>-->
<!--        </init-param>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>loginServlet</servlet-name>-->
<!--        <url-pattern>/login</url-pattern>-->
<!--    </servlet-mapping>-->





    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>bai15.RedirectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>CheckNameServlet</servlet-name>
        <servlet-class>bai15.CheckNameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckNameServlet</servlet-name>
        <url-pattern>/check-name</url-pattern>
    </servlet-mapping>





</web-app>

